_("Test 001: The Skaa Mountains")
Difficulty:1
Bonus:0
-------------------------
_("This is a test scenario for miscellaneous objects (rocks, raw resources, scrolls of power, treasure, and trees).")
